#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	npm install
	npm run init

override_dh_auto_build:
	npm run build

override_dh_auto_install:
	mkdir -p debian/zen-browser/usr/lib/zen-browser
	mkdir -p debian/zen-browser/usr/bin
	
	cp -r dist/linux-x86_64/* debian/zen-browser/usr/lib/zen-browser/
	
	ln -s /usr/lib/zen-browser/zen debian/zen-browser/usr/bin/zen-browser

override_dh_auto_test:
	@echo "Skipping tests to save time"
